body{
   margin: 0px;
}
*{
  box-sizing: border-box;
  font-family: 'Montserrat', Arial, sans-serif;
font-style: normal;
}
a{
   text-decoration: none;
}
img{
   object-fit: cover;
}
button{
   border: 0;
  background: transparent;
  cursor: pointer;
}
header,main{
   margin-left: 100px;
   margin-right: 100px;
   font-family: 'Montserrat'
}

@media all and (max-width:1000px){
   header,main{
       margin-left: 20px;
       margin-right: 20px;
   }
}
ul{
   list-style-type: none;
}