.error__number,.error__txt,.message a{
    color: #FF6060;
}
header{
    margin-bottom: 0px;
}
.error__number{display: flex;
font-weight: 700;
font-size: 288px;
justify-content: center;
align-items: center;
text-align: center;
margin-top: 0px;
}
.error__txt{display: flex;
    justify-content: center;
align-items: center;
text-align: center;
font-weight: 500;
font-size: 36px;
line-height: 142.6%;
flex-direction: row;

}
.message a{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 159px;
}
.txt{
    padding-right: 10px;
}
.underline{
    text-decoration: underline;
}
@media all and (max-width:1085px){
    .error__number{display: flex;
        font-weight: 700;
font-size: 96px;
line-height: 142.6%;
align-items: center;
text-align: center;
margin-top: 155px;
    }
    .error__txt{
display: flex;
justify-content: center;
align-items: center;
text-align: center;
font-size: 18px;
flex-direction: column;
    }
    .txt{
        margin:0px;
    }
    .message a{
        margin-top: 133px;
    }
 }